body {
       background-color : black;
       color : white;
}

h1:hover{
         color: yellow;
}
.title {
  color: white;
}

.subtitle{
           color:lightgray;
}

.copyright{
            color:lightgray;
}

.subtitle:hover{
                color:yellow;
}

.yes{
       background-color:black;
       color:white;
}

header{
    position:sticky;
    top:0;
}

.statstable{
           margin-left: auto;
           margin-right: auto;
           color:white;
}

a:link{
       color: white;

}

a:visited{
         color: red;
}

hr.line{
       margin-top:0em;
       margin-bottom:0em;
       border-width:medium;
}

.header-links:hover{
           color:yellow;

}
